/* Header.css */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #066954;
    color: white;
}

header h1 {
    margin: 0;
}


/* Desktop styles */
@media only screen and (min-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .nav-links {
        display: block;
    }
}